*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

body{
    width: 100%;
}

img{
    width: 550px;
    border-radius: 10px;
    border: 2px solid rgb(243, 126, 243);
}

.container{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(37,0,37);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5rem;
    gap: 2rem;
}

h1{
    font-size: 1.5rem;
    margin: 15px 0px;
    color: rgb(243, 126, 243);
    text-align: start;
}

.right{
    width: 45%;
    padding: 10px;
}


.right p{
    line-height: 1.5;
    margin-bottom: 20px;
}

.right div{
    width: 100%;
    display: flex;
    justify-content: start;
    column-gap: 1.2rem;
}

.right button{
    background-color: transparent;
    border: 2px solid rgb(243, 126, 243);
    color: rgb(243, 126, 243);
    font-size: .9rem;
    padding: 8px 0;
    border-radius: 5px;
    font-weight: bold;
    transition: all .5s;
    width: 100%;
    cursor: pointer;
}

.right button:hover{
    background-color: rgb(243, 126, 243);
    color: rgb(37,0,37);
    border-color: rgb(37,0,37);
    transform: scale(1.2);
}


@media screen and (max-width:1150px) {
    img{
        margin-top: 100px;
    }
    .container{
        flex-direction: column-reverse;
        justify-content: center;
    }

    .right{
        width: 70%;
    }

    h1,p{
        text-align: center;
    }

    h1{
        font-size: 1.5rem;
    }

    p{
        font-size: 1rem;
    }
}

@media screen and (max-width: 800px) {
    .right{
        width:100%;
    }
    
    h1{
        font-size: 1.3rem;
    }

    p{
        font-size: .9rem;
    }
}

@media screen and (max-width: 600px) {
    .container{
        padding: 0 1rem;
    }
    img{
        width: 100%;
    }
    .right{
        width:100%;
    }

    h1{
        font-size: 1.2rem;
        margin: 10px 0px;
    }

    .right p{
        line-height: 1;
        margin-bottom: 20px;
    }

    .right div{
        flex-wrap: wrap;
        padding: 0 10rem;
        gap: 1rem;
    }

}

@media screen and (max-width: 490px) {
    .right div{
        padding: 0 8rem;
    }

    h1{
        font-size: 1rem;
    }

    p{
        font-size: .7rem;
    }
}

@media screen and (max-width: 490px) {
    .right div{
        padding: 0 7rem;
    }
}

@media screen and (max-width: 400px) {
    .right div{
        padding: 0 4.5rem;
    }

    h1{
        font-size: .8rem;
    }

    p{
        font-size: .6rem;
    }
}

@media screen and (max-width: 300px) {
    .right div{
        padding: 0 3rem;
    }
}